body{
    text-align: center;
    font-family: 'ZCOOL KuaiLe', sans-serif;    background-image: url("img/Gradient\ 1.PNG");
    background-size: cover;
}

div{
    margin-bottom: 20px;
    font-family: 'ZCOOL KuaiLe', sans-serif;
}

